{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Poker Games</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Game Number</th>
                <th>Date</th>
                <th>Time</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for game in games %}
                <tr>
                    <td>{{ game.id }}</td>
                    <td>{{ game.game_number }}</td>
                    <td>{{ game.date }}</td>
                    <td>{{ game.time }}</td>
                    <td>
                        <a href="{{ url_for('game_details', game_id=game.id) }}" class="btn btn-info">View Hands</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <button class="btn btn-danger" onclick="resetDatabase()">Reload Hands from Disk</button>
    <div id="loadingMessage" style="display: none;">Resetting database, please wait...</div>

    <script>
        function resetDatabase() {
            document.getElementById('loadingMessage').style.display = 'block';
            fetch('/reset_db')
                .then(response => {
                    if (response.ok) {
                        window.location.reload();
                    } else {
                        document.getElementById('loadingMessage').innerText = 'An error occurred while resetting the database.';
                    }
                })
                .catch(error => {
                    document.getElementById('loadingMessage').innerText = 'An error occurred while resetting the database.';
                });
        }
    </script>
{% endblock %}
